# {fullname}
{short_description}

{description}
### Installation
**Install {fullname} with Pip:** `pip3 install {short_name}`

### Usage:
Run `{short_name}` in your terminal.
### Contributors
 - {author}
### Contact
<{email}>